*.pyc
__pycache__/
*.log
log/
.vscode
output/
tmp.txt
models/
scripts/
local/
video_output/*
Open-Pandora/
Open-PandoraPro/
data/webvid_origin.py
data/mira.py
data/panda.py
data/openvid_s3.py
data/t2v_datasets.py
data/webvid_bot3.py
mp42gif.py
local/
